# System
Thumbs.db

# Venv


# Configs


# Project files
*.pyc

# Project dirs
*/__pycache__/
/zGraphic_mouse_development/

# Other files
path_*.txt
path_*.png
path_*.jpg

# User other data


